/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */


body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


a {
    text-decoration: none;
    color: #639;
}

a:hover {
    color: #FF6900;
}


.my_name h1 {
    color: #639;
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   font-size: 2.5em;
   line-height: 1em;
   text-align: center;
    margin: 0;
    padding: 2% 0 0 0;
}


.rule {
    border-top: 3px dotted #FF6900;
    margin: 0;
    padding: 0;
}


.resume_header p {
    color: #639;
    font-size: 1em;
    text-align: center;
    line-height: .25em;
    margin: 0;
    padding: 2%;

}



h3 {
    color: #639;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25em;
    text-align: left;
    padding: 0 0 0 2%;
    margin: 0 0 0 0;
}

p {
    color: #333;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.25em;
    padding-left: 2%;
    margin: 2% 0 2% 0;
}

ul {
    color: #333;
    margin: 2% 0 0 0;}





@media screen and (max-width: 980px) {

.footer_nav li {
    display: block;
    text-align: center;
}

}

@media print {
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi),

    body { 
        font: arial, helvetica, sans-serif;
        font-size: 8pt;
    }

    header {
        margin: 0;
    }
    
    h1, h3, p, ul {
        color: #000;   
    }

    .my_name h1 {
        font-family: arial, helvetica, sans-serif;
        font-size: 12pt;
        line-height: 1.2;
        margin: 0;
        padding: 1%;
    }

    .resume_header p {
        font-family: arial, helvetica, sans-serif;
        font-size: 10pt;
        line-height: 1.2;
        margin: 0;
        padding: 1%;
    }

    .rule {
        display: none;
    }

    h3 {
        font-family: arial, helvetica, sans-serif;
        font-size: 9pt;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        page-break-after: avoid;
    }

    p {
        font-family: arial, helvetica, sans-serif;
        font-size: 8pt;
        line-height: 1.2;
        margin: 1% 0 0 0;
        padding: 0;

    }

    ul {
        font-family: arial, helvetica, sans-serif;
        font-size: 8pt;
        line-height: 1.2;
        margin: 0 0 0 2%;
        padding: 0;
    }
    
}


@page {
    margin: 0.5in;
}
